In [6]:
try:
    from utils import *
except ModuleNotFoundError:
    !wget https://raw.githubusercontent.com/dglee6257/Dataprocessing/main/utils.py -O ./utils.py
    from utils import *

In [7]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

dataset = [
    ["Milk", "Cola", "Cookie", "Bread", "Jam"],
    ["Ramen", "Kimchi", "Rice"],
    ["Ramen", "Snack", "Bread", "Jam"],
    ["Rice", "Kimchi"],
    ["Cola", "Bear"],
    ["Cola", "Cookie", "Bread"],
    ["Milk", "Bread", "Jam"],
    ["Ramen", "Cheese", "Ham"],
    ["Bear", "Snack", "Cheese", "Cookie"],
    ["Cookie", "Bread", "Jam", "Snack"],
]

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,Bear,Bread,Cheese,Cola,Cookie,Ham,Jam,Kimchi,Milk,Ramen,Rice,Snack
0,False,True,False,True,True,False,True,False,True,False,False,False
1,False,False,False,False,False,False,False,True,False,True,True,False
2,False,True,False,False,False,False,True,False,False,True,False,True
3,False,False,False,False,False,False,False,True,False,False,True,False
4,True,False,False,True,False,False,False,False,False,False,False,False
5,False,True,False,True,True,False,False,False,False,False,False,False
6,False,True,False,False,False,False,True,False,True,False,False,False
7,False,False,True,False,False,True,False,False,False,True,False,False
8,True,False,True,False,True,False,False,False,False,False,False,True
9,False,True,False,False,True,False,True,False,False,False,False,True

In [8]:
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
frequent_itemsets

    support                          itemsets
0       0.2                            (Bear)
1       0.5                           (Bread)
2       0.2                          (Cheese)
3       0.3                            (Cola)
4       0.4                          (Cookie)
..      ...                               ...
66      0.1        (Jam, Cookie, Bread, Milk)
67      0.1       (Jam, Snack, Bread, Cookie)
68      0.1        (Jam, Snack, Ramen, Bread)
69      0.1         (Jam, Cookie, Cola, Milk)
70      0.1  (Jam, Bread, Cola, Cookie, Milk)

[71 rows x 2 columns]

In [9]:
frequent_itemsets["length"] = frequent_itemsets["itemsets"].apply(lambda x: len(x))
frequent_itemsets

    support                          itemsets  length
0       0.2                            (Bear)       1
1       0.5                           (Bread)       1
2       0.2                          (Cheese)       1
3       0.3                            (Cola)       1
4       0.4                          (Cookie)       1
..      ...                               ...     ...
66      0.1        (Jam, Cookie, Bread, Milk)       4
67      0.1       (Jam, Snack, Bread, Cookie)       4
68      0.1        (Jam, Snack, Ramen, Bread)       4
69      0.1         (Jam, Cookie, Cola, Milk)       4
70      0.1  (Jam, Bread, Cola, Cookie, Milk)       5

[71 rows x 3 columns]

#### 💁 association_rules
The `association_rules` function is specifically used for generating association rules from frequent itemsets. These are rules that indicate how certain items in a dataset are associated (or frequently co-occur) with each other. This function is commonly used in market basket analysis, where retailers are interested in understanding the relationships between different products purchased together.

In [10]:
rules1 = association_rules(
    df=frequent_itemsets,
    metric="support",
    min_threshold=0.4,
)
rules1

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Jam),(Bread),0.4,0.5,0.4,1.0,2.0,0.2,inf,0.833333
1,(Bread),(Jam),0.5,0.4,0.4,0.8,2.0,0.2,3.0,1.000000

In [11]:
rules1 = association_rules(
    df=frequent_itemsets,
    metric="support",
    min_threshold=0.4,
)
rules1

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Jam),(Bread),0.4,0.5,0.4,1.0,2.0,0.2,inf,0.833333
1,(Bread),(Jam),0.5,0.4,0.4,0.8,2.0,0.2,3.0,1.000000

In [12]:
frequent_itemsets

    support                          itemsets  length
0       0.2                            (Bear)       1
1       0.5                           (Bread)       1
2       0.2                          (Cheese)       1
3       0.3                            (Cola)       1
4       0.4                          (Cookie)       1
..      ...                               ...     ...
66      0.1        (Jam, Cookie, Bread, Milk)       4
67      0.1       (Jam, Snack, Bread, Cookie)       4
68      0.1        (Jam, Snack, Ramen, Bread)       4
69      0.1         (Jam, Cookie, Cola, Milk)       4
70      0.1  (Jam, Bread, Cola, Cookie, Milk)       5

[71 rows x 3 columns]